@charset "ISO-8859-1";

.scroll
{

	height:300px;
        width:300px;
        overflow-y:scroll;
        overflow-x:hidden;
        background: #4CF3A5;
	color: black;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}


body {
	
}

.linea {
	background: #000102;
	transform: translate(0%, 1%);
}
.linea2 {
	background: #000102;
	transform: translate(0%, 1000%);
}

.img {
	width: 1000px;
	height: 600px;
	opacity: 0.2;
	position: absolute;
	transform: translate(135%,-10%);
	right: 1500px;
}
.img2 {
	position: absolute;
	transform: translate(800%,800%);
	left: 600px;
}

.cuadro {
	width: 300px;
	height: 320px;
	background: #E0F094;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.texto{
	text-align:center-up;
	transform: translate(0%, 750%);
}


.subtitulo {
	color: black;
}
label
{
	color:black;
}
label.subtitulo
{
	  display: inline-block;
  		width: 30%;
  		padding:3px;
}

.entrada {
	width: 240px;
	height: 25px;
	border-radius: 6px;
	font-family: verdana;
	coloe: black
}

#boton {
	width: 150px;
	height: 25px;
	border-radius: 6px;
	background: gray;
}
#matricula
{
	width: 300px;
	height: auto;
	background: #EEEBEB;
	color: black;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.factura
{
	margin: 0 auto;
}